{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [dtu]}.
{escript_main_app, dtu}.
{escript_name, dtu}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
    {formatter, default_formatter},
    {options, #{paper => 80}}
]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
